h1{
    position: absolute;
    top: 0;
}

input{
    position: absolute;
    width: 400px;
    height: 50px;
}

.id{
    top: 90px;
}

.password{
    top: 160px;
}

.login{
    top: 230px;
    width: 408px;
    background-color: #2ECCFA;
    border: 0;
}